/* .animated-wreath {
  width: 220px;
  height: auto;

  display: block;

  transform-origin: center center;

  animation: smoothSpin 20s linear infinite;
} */

.animated-wreath {
  width: 220px;

  display: block;

  /* SVG ke invisible area ko compensate karega */
 margin-bottom: 0;

  transform-origin: center center;
  animation: smoothSpin 20s linear infinite;
}
@keyframes smoothSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}